In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
data = pd.read_csv("Item_dataset.csv",header=None)
data = data.apply(lambda x: x.tolist())
products = data.apply(lambda x: [i for i in x if type(i) == str])
products

                                 0
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [4]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
print("\nTransformed Dataframe:")
print(df)
frequent_items = apriori(df, min_support=0.20, use_colnames=True)

print("\nFrequent Items:")
print(frequent_items)

rules = association_rules(frequent_items, metric="lift", min_threshold=0.60)

print("\nAssociation Rules:")
print(rules)

TypeError: 'int' object is not iterable

In [32]:
data = pd.read_csv("Item_dataset.csv")
product_list = data.apply(lambda x: list(df.columns[x]), axis=1)
product_list

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [5]:
df = pd.read_csv("Item_dataset.csv",header=None)
def preprocess_data(row):
    return row.split(',')

df[0] = df[0].apply(preprocess_data)
df

                                      0
0                [MILK, BREAD, BISCUIT]
1    [BREAD, MILK, BISCUIT, CORNFLAKES]
2               [BREAD, TEA, BOURNVITA]
3             [JAM, MAGGI, BREAD, MILK]
4                 [MAGGI, TEA, BISCUIT]
5               [BREAD, TEA, BOURNVITA]
6              [MAGGI, TEA, CORNFLAKES]
7          [MAGGI, BREAD, TEA, BISCUIT]
8              [JAM, MAGGI, BREAD, TEA]
9                         [BREAD, MILK]
10  [COFFEE, COCK, BISCUIT, CORNFLAKES]
11  [COFFEE, COCK, BISCUIT, CORNFLAKES]
12           [COFFEE, SUGER, BOURNVITA]
13                [BREAD, COFFEE, COCK]
14              [BREAD, SUGER, BISCUIT]
15          [COFFEE, SUGER, CORNFLAKES]
16            [BREAD, SUGER, BOURNVITA]
17               [BREAD, COFFEE, SUGER]
18               [BREAD, COFFEE, SUGER]
19      [TEA, MILK, COFFEE, CORNFLAKES]

In [6]:
te=TransactionEncoder()
te_ary=te.fit_transform(df[0])
t_df=pd.DataFrame(te_ary,columns=te.columns_)
t_df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [7]:
min_sup=apriori(t_df,min_support=0.20,use_colnames=True)
min_sup

    support              itemsets
0      0.35             (BISCUIT)
1      0.20           (BOURNVITA)
2      0.65               (BREAD)
3      0.40              (COFFEE)
4      0.30          (CORNFLAKES)
5      0.25               (MAGGI)
6      0.25                (MILK)
7      0.30               (SUGER)
8      0.35                 (TEA)
9      0.20      (BREAD, BISCUIT)
10     0.20         (BREAD, MILK)
11     0.20        (BREAD, SUGER)
12     0.20          (BREAD, TEA)
13     0.20  (CORNFLAKES, COFFEE)
14     0.20       (COFFEE, SUGER)
15     0.20          (MAGGI, TEA)

In [10]:
frequent_items = apriori(t_df, min_support=0.20, use_colnames=True)

ass_df=association_rules(frequent_items,metric="confidence",min_threshold=0.5)
ass_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667,-0.174603
1,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000,0.250000
2,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.050000,0.035714
3,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667,-0.174603
4,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000,0.571429
5,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000,0.666667
6,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000,0.666667
7,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000,0.571429
8,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.250000,0.750000
9,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,0.1125,1.750000,0.865385

In [18]:
frequent_items

    support              itemsets
0      0.35             (BISCUIT)
1      0.20           (BOURNVITA)
2      0.65               (BREAD)
3      0.40              (COFFEE)
4      0.30          (CORNFLAKES)
5      0.25               (MAGGI)
6      0.25                (MILK)
7      0.30               (SUGER)
8      0.35                 (TEA)
9      0.20      (BREAD, BISCUIT)
10     0.20         (BREAD, MILK)
11     0.20        (BREAD, SUGER)
12     0.20          (BREAD, TEA)
13     0.20  (CORNFLAKES, COFFEE)
14     0.20       (COFFEE, SUGER)
15     0.20          (MAGGI, TEA)

In [17]:
antecedents = set()
consequents = set()
for antecedent in lift_filtered['antecedents']:
    antecedents.update(antecedent)
for consequent in lift_filtered['consequents']:
    consequents.update(consequent)

item_supports = {}
for item in antecedents.union(consequents):
    support = frequent_items[frequent_items['itemsets'].apply(lambda x: item in x)]['support'].max()
    item_supports[item] = support

print("Antecedent and Consequent Supports:")
for index, row in lift_filtered.iterrows():
    antecedent_support = item_supports.get(list(row['antecedents'])[0])
    consequent_support = item_supports.get(list(row['consequents'])[0])
    print(f"Antecedent: {row['antecedents']}, Support: {antecedent_support}")
    print(f"Consequent: {row['consequents']}, Support: {consequent_support}")

Antecedent and Consequent Supports:
Antecedent: frozenset({'BREAD'}), Support: 0.65
Consequent: frozenset({'BISCUIT'}), Support: 0.35
Antecedent: frozenset({'BISCUIT'}), Support: 0.35
Consequent: frozenset({'BREAD'}), Support: 0.65
Antecedent: frozenset({'BREAD'}), Support: 0.65
Consequent: frozenset({'MILK'}), Support: 0.25
Antecedent: frozenset({'MILK'}), Support: 0.25
Consequent: frozenset({'BREAD'}), Support: 0.65
Antecedent: frozenset({'BREAD'}), Support: 0.65
Consequent: frozenset({'SUGER'}), Support: 0.3
Antecedent: frozenset({'SUGER'}), Support: 0.3
Consequent: frozenset({'BREAD'}), Support: 0.65
Antecedent: frozenset({'BREAD'}), Support: 0.65
Consequent: frozenset({'TEA'}), Support: 0.35
Antecedent: frozenset({'TEA'}), Support: 0.35
Consequent: frozenset({'BREAD'}), Support: 0.65
Antecedent: frozenset({'CORNFLAKES'}), Support: 0.3
Consequent: frozenset({'COFFEE'}), Support: 0.4
Antecedent: frozenset({'COFFEE'}), Support: 0.4
Consequent: frozenset({'CORNFLAKES'}), Support: 0.3
Antecedent: frozenset({'COFFEE'}), Support: 0.4
Consequent: frozenset({'SUGER'}), Support: 0.3
Antecedent: frozenset({'SUGER'}), Support: 0.3
Consequent: frozenset({'COFFEE'}), Support: 0.4
Antecedent: frozenset({'MAGGI'}), Support: 0.25
Consequent: frozenset({'TEA'}), Support: 0.35
Antecedent: frozenset({'TEA'}), Support: 0.35
Consequent: frozenset({'MAGGI'}), Support: 0.25

In [14]:
lift=association_rules(frequent_items, metric="lift", min_threshold=0.65)
lift_filtered = lift[lift['lift'] >= 0.65]

In [15]:
lift=association_rules(frequent_items, metric="lift", min_threshold=0.65)
lift

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(BREAD),(BISCUIT),0.65,0.35,0.2,0.307692,0.879121,-0.0275,0.938889,-0.282051
1,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667,-0.174603
2,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,0.0375,1.083333,0.535714
3,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000,0.250000
4,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,0.0050,1.011111,0.071429
5,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.050000,0.035714
6,(BREAD),(TEA),0.65,0.35,0.2,0.307692,0.879121,-0.0275,0.938889,-0.282051
7,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667,-0.174603
8,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000,0.571429
9,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000,0.666667
10,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000,0.666667
11,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000,0.571429
12,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.250000,0.750000
13,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,0.1125,1.750000,0.865385

In [21]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
product_list = df.apply(lambda x: list(df.columns[x]), axis=1)
print("Product List:")
print(product_list)
transformed_df = pd.DataFrame(te_ary, columns=te.columns_)
print("\nTransformed Dataframe:")
print(transformed_df)

C:\Users\rajpu\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

ValueError: The allowed values for a DataFrame are True, False, 0, 1. Found value Bread

ValueError: No objects to concatenate

C:\Users\rajpu\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

Frequent Items using Apriori Algorithm (min_support=0.001):
       support                                           itemsets
0     0.098413                                          (0_Bagel)
1     0.234921                                          (0_Bread)
2     0.177778                                         (0_Cheese)
3     0.107937                                         (0_Diaper)
4     0.076190                                           (0_Eggs)
...        ...                                                ...
4735  0.006349  (1_Wine, 6_Bread, 5_Bagel, 0_Eggs, 2_Milk, 4_P...
4736  0.006349  (6_Bread, 5_Pencil, 3_Bagel, 1_Cheese, 4_Meat,...
4737  0.006349  (6_Bread, 3_Meat, 4_Bagel, 1_Cheese, 5_Diaper,...
4738  0.003175  (5_Wine, 4_Bread, 2_Meat, 3_Cheese, 1_Eggs, 0_...
4739  0.006349  (0_Wine, 2_Bagel, 4_Bread, 6_Diaper, 1_Cheese,...

[4740 rows x 2 columns]

Frequent Itemsets with Support >= 0.2:
    support   itemsets
0  0.234921  (0_Bread)

C:\Users\rajpu\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [33]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)

# List the products using apply function
product_list = df.apply(lambda x: list(df.columns[x]), axis=1)
print("Product List:")
print(product_list)
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)

# Creating dataframe from encoded transactions
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Displaying the obtained dataframe
print("Transformed Dataframe:")
print(df_encoded)

Product List:
0     [,, A, B, C, D, E, I, K, L, M, R, S, T, U]
1                                             []
2                                             []
3                                             []
4                                             []
5                                             []
6                                             []
7                                             []
8                                             []
9                                             []
10                                            []
11                                            []
12                                            []
13                                            []
14                                            []
15                                            []
16                                            []
17                                            []
18                                            []
dtype: object
Transformed Dataframe:
        ,      A      B      C      D      E      I      K      L      M  \
0    True   True   True   True   True   True   True   True   True   True
1   False  False  False  False  False  False  False  False  False  False
2   False  False  False  False  False  False  False  False  False  False
3   False  False  False  False  False  False  False  False  False  False
4   False  False  False  False  False  False  False  False  False  False
5   False  False  False  False  False  False  False  False  False  False
6   False  False  False  False  False  False  False  False  False  False
7   False  False  False  False  False  False  False  False  False  False
8   False  False  False  False  False  False  False  False  False  False
9   False  False  False  False  False  False  False  False  False  False
10  False  False  False  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False  False  False  False
12  False  False  False  False  False  False  False  False  False  False
13  False  False  False  False  False  False  False  False  False  False
14  False  False  False  False  False  False  False  False  False  False
15  False  False  False  False  False  False  False  False  False  False
16  False  False  False  False  False  False  False  False  False  False
17  False  False  False  False  False  False  False  False  False  False
18  False  False  False  False  False  False  False  False  False  False

        R      S      T      U
0    True   True   True   True
1   False  False  False  False
2   False  False  False  False
3   False  False  False  False
4   False  False  False  False
5   False  False  False  False
6   False  False  False  False
7   False  False  False  False
8   False  False  False  False
9   False  False  False  False
10  False  False  False  False
11  False  False  False  False
12  False  False  False  False
13  False  False  False  False
14  False  False  False  False
15  False  False  False  False
16  False  False  False  False
17  False  False  False  False
18  False  False  False  False

In [42]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

frequent_itemsets = apriori(df_encoded, min_support=0.2, use_colnames=True)
frequent_itemsets

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [36]:

association_rules_50 = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
print("\nAssociation Rules (min_support=50%, min_confidence=50%):")
print(association_rules_50)

rules_lift = association_rules(frequent_itemsets, metric="lift", min_threshold=0.65)
print("\nAntecedent and Consequent Supports (min_lift=0.65):")
print(rules_lift[['antecedents', 'consequents', 'support']])

ValueError: The input DataFrame `df` containing the frequent itemsets is empty.

In [38]:
# Try decreasing the minimum support threshold until you get non-empty frequent itemsets dataframe
for min_support in [0.1, 0.05, 0.01]:
    frequent_itemsets = apriori(df_encoded, min_support=min_support, use_colnames=True)
    if not frequent_itemsets.empty:
        print(f"Frequent itemsets with min_support={min_support} found successfully.")
        print(frequent_itemsets)
        break
else:
    print("Unable to find frequent itemsets with the given minimum support thresholds.")

Frequent itemsets with min_support=0.05 found successfully.
        support                                    itemsets
0      0.052632                                         (,)
1      0.052632                                         (A)
2      0.052632                                         (B)
3      0.052632                                         (C)
4      0.052632                                         (D)
...         ...                                         ...
16378  0.052632     (,, D, A, T, U, M, S, E, K, L, R, B, I)
16379  0.052632     (D, C, A, T, U, M, S, E, K, L, R, ,, I)
16380  0.052632     (,, D, C, T, U, M, S, E, K, L, R, B, I)
16381  0.052632     (D, C, A, T, U, M, S, E, K, L, R, B, I)
16382  0.052632  (,, D, C, A, T, U, M, S, E, K, L, R, B, I)

[16383 rows x 2 columns]

In [45]:
def preprocess_data(row):
    return row.split(',')

data['0'] = data['0'].apply(preprocess_data)

te=TransactionEncoder()
te_ary=te.fit_transform(data['0'])
t_df=pd.DataFrame(te_ary,columns=te.columns_)

KeyError: '0'

In [49]:

def preprocess_data(row):
    return row.split(',')

column_name = 'MILK,BREAD,BISCUIT'

# Apply the preprocessing function to the column containing the data
data[column_name] = data[column_name].apply(preprocess_data)
# Assuming 'data' is your list of lists containing the dataset
# Apply TransactionEncoder to transform the list of lists
te = TransactionEncoder()
te_ary = te.fit_transform(data)
t_df = pd.DataFrame(te_ary, columns=te.columns_)

t_df

AttributeError: 'list' object has no attribute 'split'