In [3]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing 
df=pd.read_csv("C:/Users/rajpu/OneDrive/Desktop/b/student-mat.csv",sep=';')
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [8]:
XY = df.loc[:, ['G2', 'G3']]
XY

print(XY.describe())
X = XY.iloc[:, :-1]
Y = XY.iloc[:, -1]

print("Shape of X:", X.shape)
print("Shape of Y:", Y.shape)


X.insert(0, 'Ones', 1)
print(XY.head())

X = X.apply(pd.to_numeric, errors='coerce')
Y = Y.apply(pd.to_numeric, errors='coerce')

XY = pd.concat([X, Y], axis=1).dropna()

import numpy as np

def predict(weights, input_data):
    return np.dot(input_data, weights)

def calculate_loss(weights, input_data, output_data):
    predictions = predict(weights, input_data)
    return np.mean((predictions - output_data) ** 2)

def calculate_gradient(weights, input_data, output_data):
    predictions = predict(weights, input_data)
    errors = predictions - output_data
    gradient = np.dot(input_data.T, errors) / len(output_data)
    return gradient

def gradient_descent(input_data, output_data, learning_rate, max_iterations):
    weights = np.zeros(input_data.shape[1])
    losses = []
    for _ in range(max_iterations):
        gradient = calculate_gradient(weights, input_data, output_data)
        weights -= learning_rate * gradient
        loss = calculate_loss(weights, input_data, output_data)
        losses.append(loss)
    return weights, losses

max_iterations = 1000
learning_rate = 0.01
weights, losses = gradient_descent(X.values, Y.values, learning_rate, max_iterations)
print("Weights:", weights)
print("Final Loss:", losses[-1])

               G2          G3
count  395.000000  395.000000
mean    10.713924   10.415190
std      3.761505    4.581443
min      0.000000    0.000000
25%      9.000000    8.000000
50%     11.000000   11.000000
75%     13.000000   14.000000
max     19.000000   20.000000
Shape of X: (395, 1)
Shape of Y: (395,)
   G2  G3
0   6   6
1   5   6
2   8  10
3  14  15
4  10  10
Weights: [-0.89607777  1.06079477]
Final Loss: 3.820991140283462

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

with open("student.txt", "r") as file:
    text_data = file.read()

count_vectorizer = CountVectorizer()
encoded_text = count_vectorizer.fit_transform([text_data])

print("Encoded Text using CountVectorizer:")
print(encoded_text.toarray())

Encoded Text using CountVectorizer:
[[ 3  1  1  1  1  4  1  1  1  1  4  1  2  1  1  1  1  1  1  1  3  2  1  1
   2  2  1  2  2  1  2  1  2  2  1  2  2  1  1  1  2  1  1  2  1  2  2  1
   1 13  2  1  1  2  1  1  2  1  1  1  1  2  5  2  1  1  1  1  2  1  9  2
   1  1  1  3  2  3  1  1  1  3  1  1  1  1  1  1  2  1  1  1 11  1  1  1
   1  1  1  1  1  7  1  1  1  2  4  4  4  4  2  4  1  1  1  1  2  2  1  1
   1  1  4  1  1  3  1  3  1  3  1  1  8  4  2  1  2 16  2  3 26  4  1  1
   2  1  1  1  2  2  1  3  1  2  1  1  2  3  1  1  1  2  1  8  1  1  1  2
   2  1  2  1  1  1  2  8  2  1  1  2  2  1  1  2  1  2  3  1  2  1  3 23
   1  1  1  1  1 11  1  1  1  1  3  1  1  8]]

In [13]:
print("Vocabulary:")
print(count_vectorizer.get_feature_names_out())

Vocabulary:
['10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '20' '21' '22' '23'
 '24' '25' '26' '27' '28' '29' '30' '31' '32' '382' '4th' '5th' '93' '9th'
 'absences' 'access' 'activities' 'additional' 'address' 'administrative'
 'after' 'age' 'alcohol' 'and' 'annexed' 'apart' 'are' 'as' 'at' 'at_home'
 'attended' 'attributes' 'bad' 'be' 'belong' 'binary' 'both' 'by' 'can'
 'care' 'characterize' 'choose' 'civil' 'class' 'classes' 'close'
 'cohabitation' 'consumption' 'course' 'csv' 'current' 'curricular' 'da'
 'dalc' 'datasets' 'each' 'education' 'educational' 'else' 'equal'
 'excellent' 'extra' 'failures' 'family' 'famrel' 'famsize' 'famsup'
 'father' 'fedu' 'female' 'file' 'final' 'first' 'fjob' 'for' 'free'
 'freetime' 'friends' 'from' 'g1' 'g2' 'g3' 'gabriel' 'going' 'good'
 'goout' 'gp' 'grade' 'grades' 'greater' 'gt3' 'guardian' 'health' 'high'
 'higher' 'home' 'hour' 'hours' 'identical' 'identified' 'if' 'in'
 'internet' 'job' 'language' 'le3' 'less' 'living' 'low' 'male' 'mat'
 'math' 'medu' 'min' 'mjob' 'mother' 'mousinho' 'ms' 'no' 'nominal' 'none'
 'note' 'number' 'numeric' 'nursery' 'of' 'or' 'other' 'out' 'output'
 'paid' 'parent' 'past' 'pereira' 'period' 'police' 'por' 'portuguese'
 'preference' 'primary' 'pstatus' 'quality' 'reason' 'related'
 'relationship' 'relationships' 'reputation' 'romantic' 'rural' 'school'
 'schoolsup' 'searching' 'second' 'secondary' 'services' 'several' 'sex'
 'shown' 'silveira' 'size' 'status' 'student' 'students' 'study'
 'studytime' 'subject' 'support' 'take' 'target' 'teacher' 'than' 'that'
 'the' 'there' 'these' 'this' 'time' 'to' 'together' 'travel' 'traveltime'
 'type' 'urban' 'very' 'walc' 'wants' 'weekend' 'weekly' 'with' 'within'
 'workday' 'yes']

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()

# Transform the text data using TF-IDF
encoded_text_tfidf = tfidf_vectorizer.fit_transform([text_data])

# Display the encoded textual information using TF-IDF
print("\nEncoded Text using TF-IDF:")
print(encoded_text_tfidf.toarray())
print("Vocabulary:")
print(tfidf_vectorizer.get_feature_names_out())

Encoded Text using TF-IDF:
[[0.05591141 0.01863714 0.01863714 0.01863714 0.01863714 0.07454854
  0.01863714 0.01863714 0.01863714 0.01863714 0.07454854 0.01863714
  0.03727427 0.01863714 0.01863714 0.01863714 0.01863714 0.01863714
  0.01863714 0.01863714 0.05591141 0.03727427 0.01863714 0.01863714
  0.03727427 0.03727427 0.01863714 0.03727427 0.03727427 0.01863714
  0.03727427 0.01863714 0.03727427 0.03727427 0.01863714 0.03727427
  0.03727427 0.01863714 0.01863714 0.01863714 0.03727427 0.01863714
  0.01863714 0.03727427 0.01863714 0.03727427 0.03727427 0.01863714
  0.01863714 0.24228276 0.03727427 0.01863714 0.01863714 0.03727427
  0.01863714 0.01863714 0.03727427 0.01863714 0.01863714 0.01863714
  0.01863714 0.03727427 0.09318568 0.03727427 0.01863714 0.01863714
  0.01863714 0.01863714 0.03727427 0.01863714 0.16773422 0.03727427
  0.01863714 0.01863714 0.01863714 0.05591141 0.03727427 0.05591141
  0.01863714 0.01863714 0.01863714 0.05591141 0.01863714 0.01863714
  0.01863714 0.01863714 0.01863714 0.01863714 0.03727427 0.01863714
  0.01863714 0.01863714 0.20500849 0.01863714 0.01863714 0.01863714
  0.01863714 0.01863714 0.01863714 0.01863714 0.01863714 0.13045995
  0.01863714 0.01863714 0.01863714 0.03727427 0.07454854 0.07454854
  0.07454854 0.07454854 0.03727427 0.07454854 0.01863714 0.01863714
  0.01863714 0.01863714 0.03727427 0.03727427 0.01863714 0.01863714
  0.01863714 0.01863714 0.07454854 0.01863714 0.01863714 0.05591141
  0.01863714 0.05591141 0.01863714 0.05591141 0.01863714 0.01863714
  0.14909709 0.07454854 0.03727427 0.01863714 0.03727427 0.29819417
  0.03727427 0.05591141 0.48456553 0.07454854 0.01863714 0.01863714
  0.03727427 0.01863714 0.01863714 0.01863714 0.03727427 0.03727427
  0.01863714 0.05591141 0.01863714 0.03727427 0.01863714 0.01863714
  0.03727427 0.05591141 0.01863714 0.01863714 0.01863714 0.03727427
  0.01863714 0.14909709 0.01863714 0.01863714 0.01863714 0.03727427
  0.03727427 0.01863714 0.03727427 0.01863714 0.01863714 0.01863714
  0.03727427 0.14909709 0.03727427 0.01863714 0.01863714 0.03727427
  0.03727427 0.01863714 0.01863714 0.03727427 0.01863714 0.03727427
  0.05591141 0.01863714 0.03727427 0.01863714 0.05591141 0.42865412
  0.01863714 0.01863714 0.01863714 0.01863714 0.01863714 0.20500849
  0.01863714 0.01863714 0.01863714 0.01863714 0.05591141 0.01863714
  0.01863714 0.14909709]]
Vocabulary:
['10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '20' '21' '22' '23'
 '24' '25' '26' '27' '28' '29' '30' '31' '32' '382' '4th' '5th' '93' '9th'
 'absences' 'access' 'activities' 'additional' 'address' 'administrative'
 'after' 'age' 'alcohol' 'and' 'annexed' 'apart' 'are' 'as' 'at' 'at_home'
 'attended' 'attributes' 'bad' 'be' 'belong' 'binary' 'both' 'by' 'can'
 'care' 'characterize' 'choose' 'civil' 'class' 'classes' 'close'
 'cohabitation' 'consumption' 'course' 'csv' 'current' 'curricular' 'da'
 'dalc' 'datasets' 'each' 'education' 'educational' 'else' 'equal'
 'excellent' 'extra' 'failures' 'family' 'famrel' 'famsize' 'famsup'
 'father' 'fedu' 'female' 'file' 'final' 'first' 'fjob' 'for' 'free'
 'freetime' 'friends' 'from' 'g1' 'g2' 'g3' 'gabriel' 'going' 'good'
 'goout' 'gp' 'grade' 'grades' 'greater' 'gt3' 'guardian' 'health' 'high'
 'higher' 'home' 'hour' 'hours' 'identical' 'identified' 'if' 'in'
 'internet' 'job' 'language' 'le3' 'less' 'living' 'low' 'male' 'mat'
 'math' 'medu' 'min' 'mjob' 'mother' 'mousinho' 'ms' 'no' 'nominal' 'none'
 'note' 'number' 'numeric' 'nursery' 'of' 'or' 'other' 'out' 'output'
 'paid' 'parent' 'past' 'pereira' 'period' 'police' 'por' 'portuguese'
 'preference' 'primary' 'pstatus' 'quality' 'reason' 'related'
 'relationship' 'relationships' 'reputation' 'romantic' 'rural' 'school'
 'schoolsup' 'searching' 'second' 'secondary' 'services' 'several' 'sex'
 'shown' 'silveira' 'size' 'status' 'student' 'students' 'study'
 'studytime' 'subject' 'support' 'take' 'target' 'teacher' 'than' 'that'
 'the' 'there' 'these' 'this' 'time' 'to' 'together' 'travel' 'traveltime'
 'type' 'urban' 'very' 'walc' 'wants' 'weekend' 'weekly' 'with' 'within'
 'workday' 'yes']

In [15]:
from sklearn.feature_extraction.text import HashingVectorizer

# Initialize HashingVectorizer
hashing_vectorizer = HashingVectorizer()

# Transform the text data using HashingVectorizer
encoded_text_hashing = hashing_vectorizer.transform([text_data])

# Display the encoded textual information using HashingVectorizer
print("\nEncoded Text using HashingVectorizer:")
print(encoded_text_hashing.toarray())

Encoded Text using HashingVectorizer:
[[0. 0. 0. ... 0. 0. 0.]]

array([[0., 0., 0., ..., 0., 0., 0.]])